{% extends 'gastoscontrolados/base.html' %}
{% block content %}

<body>
<table class="table table-bordered">
<td>
    <h1>Ingreso</h1>
    <form action="." method="POST">
    {% csrf_token %}
        <table class="table table-condensed">
            {{ formIng.as_table }}
        </table>
        <p><input type="submit" class="btn btn-primary btn-sm" value="Guardar" name="ing_save"></p>
    </form>
    </td>
    <td>
    <h1>Gastos</h1>
    <form action="." method="POST">
    {% csrf_token %}
        <table class="table table-condensed">
            {{ formGas.as_table }}
        </table>
        <p><input type="submit" class="btn btn-primary btn-sm" value="Guardar" name="gastos_save"></p>
    </form>
</td>
</table>
<table width=100%>
<td width=50%>  
    <h3>Ingreso</h3>
    {% for ing in ingresos %}
        <div>
            <p class="list-group-item"><a href="">{{ ing.concepto }}</a>
            Fecha: {{ ing.fecha }}
            Importe: {{ ing.importe }}
            {{ ing.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </td>
    <td width=50%>
    <h3>Gastos</h3>
     {% for gas in gastos %}
        <div>
            <p class="list-group-item"><a href="">{{ gas.concepto }}</a>
            Fecha: {{ gas.fecha }}
            Importe: {{ gas.importe }}
            {{ gas.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </td>
    </table>
</body>
{% endblock content %}